#choix_perso{
    width: 700px;
    height: 700px;
    background-color: orange;
    position: absolute;
    z-index: 2;
    left: 30%;
    top: 12%;
}

.hide{
    display : none;
}

#phase_de_combat{
    width: 99%;
    height: 99%;
    background-image: url(images/terrain_terre.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

.perso{
    border: solid black 1px;
    width: 47%;
    height: 47%;
    position: relative;
    display: inline-flex;
    margin: 1%;
    color: black;
}

.actions{
    display: none;
    border: solid black 2px;
    position: absolute;
}

.div_action {
    width: 600px;
    height: 200px;
    background-color: red;
    left: 35%;
    position: absolute;
    top: 79%;
}

.div_shop{
    width: 200px;
    height: 800px;
    background-color:blue;
    right: 0%;
    position: absolute;
    top:8%;
}

.actions{
    width: 47%;
    height: 42%;
    position: relative;
    display: inline-flex;
    margin: 1%;
    border: solid black 1px;
    font-size: 30px;
    text-align: center;
}

.div_perso {
    height: 200px;
    width: 400px;
    background-color: purple;
}

.shop{
    width: 95%;
    height: 95px;
    border: solid black 1px;
    position: relative;
    display: inline-flex;
    color: white;
}

.div_personnage{
    background-image: url(images/assassin.png);
    position: absolute;
    width: 500px;
    height: 700px;
    bottom: 0%;
}

.div_monstre{
    background-image: url(images/dragon_style.png);
    position: absolute;
    width: 500px;
    height: 500px;
    left: 60%;
    top: 10%;
}

.perso_img{
    background-image: url(images/assassin.png);

}
.div_perso_stats{
    position: relative;
    border: solid black 1px;
}
.div_perso_div{
    width: 45%;
    height: 95%;
    display: inline-flex;
    position: relative;
    border: solid black 1px;
}

.perso_stats{
    position: relative;
    display : inline-flex;
    width: 90%;
}
.stats_monstre {
    background-color: green;
    width: 400px;
    height: 100px;
    position: absolute;
    right: 30%;
    top: 0%;
}